<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236389351601-g0c969v9oksjqep23155fbpljtldttvv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236389351601-g0c969v9oksjqep23155fbpljtldttvv</string>
	<key>API_KEY</key>
	<string>AIzaSyBMyVgSyZvNc4oFMRf8W02b5l7nhmGrMJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>236389351601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.diplomskiRad.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>diplomski-rad-8bdb2</string>
	<key>STORAGE_BUCKET</key>
	<string>diplomski-rad-8bdb2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236389351601:ios:8453b552c1522b2656a290</string>
	<key>DATABASE_URL</key>
	<string>https://diplomski-rad-8bdb2-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>